:root {
  --desktop-width: 800px;
  --mobile-width: 80%;
  --white: rgb(255,255,255)
}

.powerballContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 83, 164);
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0;
}
.error {
  color: red;
  font-size: x-large;
  font-weight: bold;
  background-color: var(--white);
  width: var(--desktop-width);
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.loading {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-end;
}
.logoContainer {
  display: flex;
  height: 10%;
  width: var(--desktop-width);
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: var(--white);;
  font-size: x-large;
  font-weight: bold;
}
.logo {
  width: 50%;
  object-fit: scale-down;
}

.drawnNumbersPanel {
  height: 10%;
  display: flex;
  width: var(--desktop-width);
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--white);
}
.drawnNumbers {
  display: flex;
  gap: 5px;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  color: black;
  box-shadow: 0 3px 8px 0 rgba(48, 47, 47, 0.4) inset;
  font-size: x-large;
  font-weight: bold;
}

.powerball {
  background-color: rgb(106, 120, 132);
  border-style: solid;
  border-color: rgb(106, 120, 132);
  box-shadow: none;
  color: var(--white);
}
.primaryNumbersCircle {
  background-color: rgb(54, 83, 164);
  border-style: solid;
  border-color: rgb(54, 83, 164);
  box-shadow: none;
  color: var(--white);
}
.hidden {
  visibility: hidden;
}
#powerballButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.lightningButton {
  background-color: rgb(153, 81, 219);
  border-color: rgb(153, 81, 219);
  border-style: solid;
  box-shadow: none;
  color: var(--white);
}
.trashbutton {
  background-color: rgb(118, 118, 118);
  border-style: solid;
  border-color: rgb(118, 118, 118);
  box-shadow: none;
  color: var(--white);
}

.purplenumbercontainer {
  display: flex;
  flex-wrap: wrap;
  width: var(--desktop-width);
  background-color: var(--white);
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: xx-large;
}
.purplenumber {
  flex: 0 0 10%;
  color: rgb(97, 18, 190);
  text-align: center;
  font-weight: bold;
}
.showCross {
  background-color: rgb(241, 231, 250);
  background-image: url("../src/assets/vecteezy_rejected-sign-and-symbol-clip-art_22068709.png");
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
}
#pickpowerball {
  background-color: rgb(106, 120, 132);
  color: var(--white);
  width: var(--desktop-width);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

@media (max-width: 800px) {
  .logoContainer,
  .purplenumbercontainer,
  #pickpowerball,
  .drawnNumbersPanel,
  .error {
    width: var(--mobile-width);
  }
  .powerballContainer{
    justify-content: flex-start;
    padding-top: 15px;
  }

  .showCross {
    background-size: contain;
  }
  .drawnNumbersPanel {
    width: var(--mobile-width);
    flex-wrap: wrap;
    gap: 0px;
    padding-bottom: 5px;
    justify-content: flex-start;
  }

  .purplenumber {
    flex: 0 0 10%;
    padding: 5px;
    font-size: small;
  }
  .drawnNumbers {
    flex-wrap: wrap;
    padding-top: 3px;
    padding-left: 5px;
  }
  .circle {
    height: 25px;
    width: 25px;
    font-size: small;
  }
  .error {
    width: var(--mobile-width);
    font-size: medium;
  }
}
