.powerballRoot {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 83, 164)
 
}
.error{
  color: red;
  font-size: large;
}
.loading{
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-end;
}
.logo {
  display: flex;
  height: 10%;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: white;
  
}
.x{
  width: 50%;
  object-fit: scale-down;
}
  
.drawnNumbersPanel {
  height: 10%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.drawnNumbers {
  display: flex;
  width: 50%;  
  gap: 5px;
  font-weight: bold;
}
.drawnNumbersCircle{
  width: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  box-shadow:  0 3px 5px 0 rgba(0, 0, 0, .2) inset;
  flex: 0 0 10%;
  text-align: center;
  line-height: 0px;
}
.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.drawnNumbersCircle span{
  padding-top: 50%;
  padding-bottom: 50%;
  display: inline-block;
  color: black;
}
.powerball {
  background-color: rgb(106, 120, 132);
  border: none;
  color: white !important;
  visibility: visible;
}
.primaryNumbers {
  background-color: rgb(54, 83, 164);
  border: none;
  color: white !important;
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.numberSelection {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 10%;
  width: 50%;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: xx-large;
}
.number {
  flex: 0 0 10%;
  color: rgb(97, 18, 190);
  text-align: center;
  font-weight: bold;
 
}
.numberShow {
  background-color: rgb(241, 231, 250);
  background-image: url("../src/assets/vecteezy_rejected-sign-and-symbol-clip-art_22068709.png");
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
}
#powerballHeader{
  background-color: rgb(106, 120, 132) ;
  color: white;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: small;
}
#powerballButtons {
 display: flex;
 gap: 10px;
 width: 20%;
}
#lightningButton{
  border-radius: 50%;
  flex: 0 0 40%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(153, 81, 219);
  color: white;
  
}
#trashbutton{
  border-radius: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(118, 118, 118);
  color: white;
  flex: 0 0 40%;
  text-align: center;
}
