.powerballRoot {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 83, 164);
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0;
}
.error {
  color: red;
  font-size: large;
}
.loading {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-end;
}
.logo {
  display: flex;
  height: 10%;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.x {
  width: 50%;
  object-fit: scale-down;
}

.drawnNumbersPanel {
  height: 10%;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: white;
}
.drawnNumbers {
  display: flex;
  gap:5px
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  color: white;
  box-shadow: 0 3px 8px 0 rgba(48, 47, 47, 0.4) inset;
  font-size: x-large;
  font-weight: bold;
}
.circle:onclick{
  border-color: rgb(54, 83, 164);
}

.powerball {
  background-color: rgb(106, 120, 132);
  border-style: solid;
  border-color: rgb(106, 120, 132);
  box-shadow: none;  
  
}

.primaryNumbers {
  background-color: rgb(54, 83, 164);
  border-style: solid;
  border-color: rgb(54, 83, 164);
  box-shadow: none; 
}
.hidden {
  visibility: hidden;
}
#powerballButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;

}
.lightningButton {
  background-color: rgb(153, 81, 219);
  border-color: rgb(153, 81, 219) ;
  
  border-style: solid;
  box-shadow: none;
  
}
.trashbutton {
  background-color: rgb(118, 118, 118);
  
  border-style: solid;
  border-color: rgb(118, 118, 118);
  box-shadow: none;
}


.numberSelection {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: xx-large;
}
.number {
  flex: 0 0 10%;
  color: rgb(97, 18, 190);
  text-align: center;
  font-weight: bold;
}
.numberShow {
  background-color: rgb(241, 231, 250);
  background-image: url("../src/assets/vecteezy_rejected-sign-and-symbol-clip-art_22068709.png");
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
}
#powerballHeader {
  background-color: rgb(106, 120, 132);
  color: white;
  width: 800px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: small;
}


@media (max-width: 800px) {
  .logo {
    width: 80%;
    height: auto;
  }

  .numberSelection {
    width: 80%;
  }
  .numberShow {
    background-size: contain;
  }
  .drawnNumbersPanel {
    width: 80%;
    flex-wrap: wrap;
    gap: 0px;
    padding-bottom: 5px;
    justify-content: flex-start;
  }
  #powerballHeader {
    width: 80%;
  }
  .number {
    flex: 0 0 10%;
    padding: 5px;
    font-size: small;
  }
  .drawnNumbers {
    flex-wrap: wrap;
    padding-top: 3px;
    padding-left: 5px;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
}
